<app-side-bar>

  <div class="card-container">
    <div class="card" *ngFor="let tile of tiles">
      <h2 class="title"> {{ tile.title }} </h2>
      <div class="sub-title"> {{ tile.count }} </div>
    </div>
    <button mat-fab color="primary" class="add-btn">
      <i class="fas fa-plus"></i>
    </button>
  </div>

</app-side-bar>